In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [19]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yumen,CN,2022-04-20 20:49:07,40.2833,97.2000,48.58,16,100,7.23
1,1,Tuatapere,NZ,2022-04-20 20:49:07,-46.1333,167.6833,58.96,97,100,3.69
2,2,Lata,PT,2022-04-20 20:49:07,40.1629,-8.3327,54.07,82,2,6.08
3,3,Guerrero Negro,MX,2022-04-20 20:46:18,27.9769,-114.0611,69.19,57,58,21.92
4,4,Port Macquarie,AU,2022-04-20 20:49:08,-31.4333,152.9167,55.89,80,24,4.94
5,5,Hermanus,ZA,2022-04-20 20:49:08,-34.4187,19.2345,63.30,83,100,1.90
6,6,Cabo San Lucas,MX,2022-04-20 20:45:23,22.8909,-109.9124,78.06,71,1,7.00
7,7,Oranjemund,NaN,2022-04-20 20:49:09,-28.5500,16.4333,63.90,62,8,2.75
8,8,Hobart,AU,2022-04-20 20:48:55,-42.8794,147.3294,46.26,76,40,6.91
9,9,Thompson,CA,2022-04-20 20:49:09,55.7435,-97.8558,33.96,51,75,11.50

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Cabo San Lucas,MX,2022-04-20 20:45:23,22.8909,-109.9124,78.06,71,1,7.00
10,10,Riberalta,BO,2022-04-20 20:49:10,-10.9833,-66.1000,84.40,74,75,11.50
14,14,Sur,OM,2022-04-20 20:49:11,22.5667,59.5289,83.30,52,100,9.42
15,15,Grand Gaube,MU,2022-04-20 20:49:11,-20.0064,57.6608,76.37,88,100,3.00
20,20,Avarua,CK,2022-04-20 20:49:13,-21.2078,-159.7750,78.85,65,75,17.27
22,22,Kapaa,US,2022-04-20 20:49:14,22.0752,-159.3190,78.78,76,0,17.27
32,32,Vila Velha,BR,2022-04-20 20:49:17,-20.3297,-40.2925,78.75,82,20,10.36
33,33,Kavieng,PG,2022-04-20 20:49:18,-2.5744,150.7967,83.30,74,73,14.36
35,35,Cacoal,BR,2022-04-20 20:45:02,-11.4386,-61.4472,80.56,88,95,3.58
38,38,Gossas,SN,2022-04-20 20:49:19,14.4912,-16.0642,79.57,40,40,11.52

In [8]:
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [9]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
6   Cabo San Lucas      MX     78.06  22.8909 -109.9124
10       Riberalta      BO     84.40 -10.9833  -66.1000
14             Sur      OM     83.30  22.5667   59.5289
15     Grand Gaube      MU     76.37 -20.0064   57.6608
20          Avarua      CK     78.85 -21.2078 -159.7750
22           Kapaa      US     78.78  22.0752 -159.3190
32      Vila Velha      BR     78.75 -20.3297  -40.2925
33         Kavieng      PG     83.30  -2.5744  150.7967
35          Cacoal      BR     80.56 -11.4386  -61.4472
38          Gossas      SN     79.57  14.4912  -16.0642

In [10]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

In [11]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Cabo San Lucas,MX,78.06,22.8909,-109.9124,Hotel Tesoro Los Cabos
10,Riberalta,BO,84.40,-10.9833,-66.1000,Hotel Colonial
14,Sur,OM,83.30,22.5667,59.5289,Sur Plaza Hotel
15,Grand Gaube,MU,76.37,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
20,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
22,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
32,Vila Velha,BR,78.75,-20.3297,-40.2925,Hotel Vitória Palace
33,Kavieng,PG,83.30,-2.5744,150.7967,Nusa Island Retreat
35,Cacoal,BR,80.56,-11.4386,-61.4472,Hotel BR 364
38,Gossas,SN,79.57,14.4912,-16.0642,Ndiayéne

In [14]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))